@use "@/assets/styles/variables" as *;
@use "@/assets/styles/mixins" as *;

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  width: 100%;
  background-color: $primary-color;
  color: $light-gray;
  text-align: center;
  box-shadow: 0 -2px 20px 3px $dark-gray;
}

.mainContainer {
  height: 100%;
  padding: $spacing-sm;

  @include responsive(md) {
    padding: $spacing-md;
  }

  @include responsive(lg) {
    padding: $spacing-lg;
  }

  @include responsive(xl) {
    padding: $spacing-xl;
    padding-top: $spacing-lg;
  }

  padding-bottom: 0;

  > main {
    height: 100%;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  height: $spacing-xl;
  width: 100%;
  text-align: center;
}
