@use "variables" as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin responsive($breakpoint) {
  @if $breakpoint ==sm {
    @media (min-width: #{$breakpoint-sm}) {
      @content;
    }
  }

  @if $breakpoint ==md {
    @media (min-width: #{$breakpoint-md}) {
      @content;
    }
  }

  @if $breakpoint ==lg {
    @media (min-width: #{$breakpoint-lg}) {
      @content;
    }
  }

  @if $breakpoint ==xl {
    @media (min-width: #{$breakpoint-xl}) {
      @content;
    }
  }
}
